/MDK-ARM/STM32VL-Discovery/*.crf
/MDK-ARM/STM32VL-Discovery/*.d
/MDK-ARM/STM32VL-Discovery/*.o
/ARM-MDK/STM32VL-Discovery
/*.DS_Store
/ARM-GCC/*.DS_Store
*.DS_Store
*.opendb
/ARM-VS2017/.vs/Project1/v15/Browse.VC.db
/ARM-VS2017/Project1.VC.db
